/* styles.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 6%, rgba(86,9,121,1) 24%, rgba(86,9,121,1) 70%, rgba(2,0,36,1) 93%);
    color: #fffbfb;
}

/* Map Container */
#map {
    height: 85vh;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* Controls Container */
#controls {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f72585;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Custom Arrow Marker */
.custom-arrow-icon {
    position: relative;
}

/* Blue Circle with a Trapezoid */
.custom-arrow-icon .arrow {
    width: 40px;
    height: 40px;
    position: relative;
}

.custom-arrow-icon .arrow::before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 18px;
    height: 18px;
    background-color: #007BFF;
    border-radius: 50%;  /* Blue circle */
}

.custom-arrow-icon .arrow::after {
    content: '';
    display: block;
    position: absolute;
    --p: 10px;
    top: -10px;
    left: 2px;
    width: 30px;
    height: 30px;
    z-index: 100;
    clip-path: polygon(var(--p) 100%,calc(100% - var(--p)) 100%,100% 0,0 0); /* Trapezoid */
    background-color: rgba(0, 123, 255, 0.5);  /* Blue transparent trapezoid */
    transform-origin: center;
}

/* Mobile Adjustments */
@media (max-width: 600px) {
    button {
        width: 80%;
        font-size: 18px;
    }

    #map {
        height: 60vh;
    }
}

img.huechange { filter: hue-rotate(120deg); 
    z-index: 1;
}

